/*Null-Style*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* Created styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none !important;
}

.header {
  background-color: #739072;
  padding: 25px 0;
}
.header__title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #3a4d39;
  letter-spacing: 3px;
}
@media screen and (min-width: 375px) {
  .header__title {
    font-size: 40px;
  }
}

.rules {
  position: absolute;
  right: 6px;
  display: inline-block;
  margin-top: 70px;
  border-radius: 50%;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .rules {
    margin-top: 30px;
  }
}
.rules__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.rules__button:hover > .rules__icon, .rules__button:focus > .rules__icon {
  opacity: 0.7;
}
.rules__button:hover + .rules__description, .rules__button:focus + .rules__description {
  right: 10px;
  padding: 15px;
  opacity: 1;
  width: 300px;
  transform: scaleX(1) scaleY(1);
  box-shadow: 4px 4px 20px 3px rgb(66, 68, 90);
}
@media screen and (min-width: 375px) {
  .rules__button:hover + .rules__description, .rules__button:focus + .rules__description {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .rules__button:hover + .rules__description, .rules__button:focus + .rules__description {
    padding: 20px;
    width: 600px;
  }
}
.rules__icon {
  fill: #4f6f52;
  width: 40px;
  height: 40px;
  border-radius: 90%;
  opacity: 1;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .rules__icon {
    width: 54px;
    height: 54px;
  }
}
.rules__description {
  position: absolute;
  right: 10px;
  width: 320px;
  opacity: 0;
  background-color: #739072;
  border-radius: 20px;
  transform: scaleX(0) scaleY(0);
  transform-origin: top right;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 375px) {
  .rules__description {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .rules__description {
    width: 600px;
  }
}
.rules__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  flex-shrink: 11;
}
@media screen and (min-width: 768px) {
  .rules__text {
    font-size: 16px;
    line-height: 20px;
  }
}
.rules__text-icon {
  fill: #ece3ce;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.rules__text--accented {
  display: inline-block;
  color: #ece3ce;
  font-weight: 700;
}
.rules__list {
  margin: 20px 0;
}
.rules__item {
  display: flex;
  align-items: center;
}

.main {
  background-image: linear-gradient(192.53deg, rgba(237, 228, 207, 0.829) 9.671%, rgba(237, 228, 207, 0.829) 84.194%), url(../img/background-stripes.jpg);
  background-size: auto;
  background-position: -800px -350px;
}
@media screen and (min-width: 360px) {
  .main {
    background-position: -780px -350px;
  }
}
@media screen and (min-width: 375px) {
  .main {
    background-position: -770px -315px;
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-position: -575px -275px;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    background-position: -315px -245px;
  }
}
@media screen and (min-width: 1400px) {
  .main {
    background-position: -195px -250px;
  }
}
@media screen and (min-width: 1920px) {
  .main {
    background-position: -2px -250px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
}
@media screen and (min-width: 375px) {
  .game {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .game {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .game {
    width: 1000px;
    margin-top: 50px;
  }
}
.game__choice-container {
  height: 145px;
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 375px) {
  .game__choice-container {
    height: 190px;
    margin-top: 35px;
  }
}
@media screen and (min-width: 768px) {
  .game__choice-container {
    height: 290px;
  }
}
.game__buttons-container {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 375px) {
  .game__buttons-container {
    height: 110px;
  }
}
@media screen and (min-width: 768px) {
  .game__buttons-container {
    margin-top: 5px;
    height: 170px;
  }
}
.game__title {
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .game__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .game__title {
    font-size: 30px;
  }
}
.game__winner-title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
@media screen and (min-width: 375px) {
  .game__winner-title {
    font-size: 40px;
  }
}
.game__restart-button {
  align-self: center;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  text-transform: capitalize;
  text-align: center;
  background-color: #739072;
  color: #ece3ce;
  font-weight: 600;
  font-size: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 375px) {
  .game__restart-button {
    font-size: 30px;
  }
}
.game__restart-button:hover {
  color: #3a4d39;
  box-shadow: 2px 2px 10px -2px rgb(66, 68, 90);
}

.game__scores-list {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .game__scores-list {
    margin-top: 40px;
    justify-content: center;
    -moz-column-gap: 300px;
         column-gap: 300px;
  }
}
.game__scores-list .game__scores-player-score {
  display: inline-block;
  width: 20px;
}

.game__choice-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media screen and (min-width: 375px) {
  .game__choice-list {
    -moz-column-gap: 45px;
         column-gap: 45px;
  }
}
@media screen and (min-width: 768px) {
  .game__choice-list {
    -moz-column-gap: 150px;
         column-gap: 150px;
  }
}

.game__choice-icon {
  width: 130px;
  height: 130px;
  border-radius: 20px;
}
@media screen and (min-width: 375px) {
  .game__choice-icon {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 768px) {
  .game__choice-icon {
    width: 250px;
    height: 250px;
  }
}

.winner {
  outline: 4px solid #4f6f52;
  background-color: rgba(0, 128, 0, 0.108);
}

.game__buttons-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (min-width: 375px) {
  .game__buttons-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .game__buttons-list {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.game__buttons-list-button {
  background-color: #739072;
  border-radius: 30px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.game__buttons-list-button:hover {
  box-shadow: 2px 2px 10px -2px rgb(66, 68, 90);
}
.game__buttons-list-button:hover > .game__buttons-icon {
  fill: #000;
}

.game__buttons-icon {
  width: 85px;
  height: 85px;
  fill: #ece3ce;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
@media screen and (min-width: 375px) {
  .game__buttons-icon {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .game__buttons-icon {
    width: 130px;
    height: 130px;
  }
}

.footer {
  padding: 25px 0;
  background-color: #739072;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #3a4d39;
}
@media screen and (min-width: 375px) {
  .footer {
    font-size: 20px;
  }
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    flex-direction: row;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: #3a4d39;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  color: #ece3ce;
}
.footer__link:hover > .footer__link-icon {
  transform: rotate(360deg);
  fill: #ece3ce;
}
.footer__link-icon {
  width: 30px;
  height: 30px;
  fill: #3a4d39;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */