@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$bg-tone: rgba(237, 228, 207, 0.829);
$bg-color: #ece3ce;
$section-accent-tone: #739072;
$filler: #4f6f52;
$main-title-tone: #3a4d39;
