.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    min-width: 314px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
}
