.main {
    background-image: linear-gradient(192.53deg, $bg-tone 9.671%, $bg-tone 84.194%), url(../img/background-stripes.jpg);
    background-size: auto;
    background-position: -195px -265px;
}

.game {
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 150px;

    &__title {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
}

.game__scores-list {
    display: flex;
    justify-content: center;
    column-gap: 300px;

    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
}

.game__choice-list {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-top: 35px;
}
.game__choice-icon {
    width: 200px;
    height: 200px;
}
.game__buttons-list {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 40px;
    &-button {
        border: 3px solid $main-title-tone;
        border-radius: 30px;
    }
}
.game__buttons-icon {
    width: 180px;
    height: 180px;
}
.rules {
    position: absolute;
    right: 6px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 50%;
    z-index: 999;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;

        &:hover > .rules__icon,
        &:focus > .rules__icon {
            opacity: 0.7;
        }
        &:hover + .rules__description,
        &:focus + .rules__description {
            right: 10px;
            padding: 20px;
            opacity: 1;
            width: 600px;
            transform: scaleX(1) scaleY(1);
        }
    }
    &__icon {
        fill: $filler;
        width: 54px;
        height: 54px;
        border-radius: 90%;
        opacity: 1;
        transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__description {
        position: absolute;
        right: 10px;
        width: 600px;
        opacity: 0;
        background-color: $section-accent-tone;
        border-radius: 20px;
        transform: scaleX(0) scaleY(0);
        transform-origin: top right;

        transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        &-icon {
            fill: $bg-color;
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        &--accented {
            display: inline-block;
            color: $bg-color;
            font-weight: 700;
        }
    }
    &__list {
        margin: 20px 0;
    }
    &__item {
        display: flex;
        align-items: center;
    }
}
