.main {
    background-image: linear-gradient(192.53deg, $bg-tone 9.671%, $bg-tone 84.194%), url(../img/background-stripes.jpg);
    background-size: auto;
    background-position: -800px -350px;
    @media screen and (min-width: 360px) {
        background-position: -780px -350px;
    }
    @media screen and (min-width: 375px) {
        background-position: -770px -315px;
    }
    @media screen and (min-width: 768px) {
        background-position: -575px -275px;
    }
    @media screen and (min-width: 1280px) {
        background-position: -315px -245px;
    }
    @media screen and (min-width: 1400px) {
        background-position: -195px -250px;
    }
    @media screen and (min-width: 1920px) {
        background-position: -2px -250px;
    }
}

.game {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    @media screen and (min-width: 375px) {
        width: 350px;
    }
    @media screen and (min-width: 768px) {
        width: 600px;
    }
    @media screen and (min-width: 1200px) {
        width: 1000px;
        margin-top: 50px;
    }
    &__choice-container {
        height: 145px;
        display: flex;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 375px) {
            height: 190px;
            margin-top: 35px;
        }
        @media screen and (min-width: 768px) {
            height: 290px;
        }
    }
    &__buttons-container {
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        @media screen and (min-width: 375px) {
            height: 110px;
        }
        @media screen and (min-width: 768px) {
            margin-top: 5px;
            height: 170px;
        }
    }
    &__title {
        height: 40px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        @media screen and (min-width: 375px) {
            font-size: 20px;
        }
        @media screen and (min-width: 768px) {
            font-size: 30px;
        }
    }
    &__winner-title {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        @media screen and (min-width: 375px) {
            font-size: 40px;
        }
    }
    &__restart-button {
        align-self: center;
        width: 400px;
        padding: 20px;
        border-radius: 20px;
        text-transform: capitalize;
        text-align: center;
        background-color: $section-accent-tone;
        color: $bg-color;
        font-weight: 600;
        font-size: 20px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 375px) {
            font-size: 30px;
        }
        &:hover {
            color: $main-title-tone;
            box-shadow: 2px 2px 10px -2px rgba(66, 68, 90, 1);
        }
    }
}

.game__scores-list {
    display: flex;
    justify-content: space-between;

    margin-top: 45px;
    font-size: 20px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        margin-top: 40px;

        justify-content: center;
        column-gap: 300px;
    }

    .game__scores-player-score {
        display: inline-block;
        width: 20px;
    }
}

.game__choice-list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    @media screen and (min-width: 375px) {
        column-gap: 45px;
    }
    @media screen and (min-width: 768px) {
        column-gap: 150px;
    }
}
.game__choice-icon {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    @media screen and (min-width: 375px) {
        width: 150px;
        height: 150px;
    }

    @media screen and (min-width: 768px) {
        width: 250px;
        height: 250px;
    }
}
.winner {
    outline: 4px solid $filler;
    background-color: rgba(0, 128, 0, 0.108);
}

.game__buttons-list {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    @media screen and (min-width: 375px) {
        column-gap: 20px;
    }
    @media screen and (min-width: 768px) {
        column-gap: 50px;
    }
    &-button {
        background-color: $section-accent-tone;
        border-radius: 30px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            box-shadow: 2px 2px 10px -2px rgba(66, 68, 90, 1);
        }
        &:hover > .game__buttons-icon {
            fill: #000;
        }
    }
}
.game__buttons-icon {
    width: 85px;
    height: 85px;
    fill: $bg-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    @media screen and (min-width: 375px) {
        width: 100px;
        height: 100px;
    }
    @media screen and (min-width: 768px) {
        width: 130px;
        height: 130px;
    }
}
